.navbar {
    top: 0;
    right: 0;
    width: 100%;
    background-color: #1c1c1c;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    box-shadow: #bfa97a;
    z-index: 1000;
}

.resum {
    background-color: #d1bfa4;
    padding: 10px;
    text-decoration: none;
    color: #4a3b2f;
    border-radius: 5px;
    margin-right: 3rem;
}

.navbar .satu,
.dua {
    margin-right: 40px;
    list-style: none;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    color: #bfa97a;
    transition: transform 0.5s ease;
}

.navbar a:hover {
    color: #1c1c1c;
    background-color: #bfa97a;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100vh - 50px);
    background-color: #1c1c1c;
    padding: 0 50px;
}

.trainers-section {
    text-align: center;
    margin-top: 50px;
}

.trainers-section .header h1 {
    margin-top: 100px;
    font-size: 36px;
    color: #bfa97a;
    margin-bottom: 20px;
}

.trainers-section .header p {
    font-size: 16px;
    color: #bfa97a;
    margin-bottom: 40px;
}

.trainers {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.trainer:hover {
    transform: scale(0.9);
}

.trainer {
    border-radius: 5px;
    background-color: #d1bfa4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    width: 280px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    transition: transform 0.5s ease;
    text-decoration: none;
    color: inherit;
}

.trainer img {
    margin-bottom: 2px;
    filter: blur(2px);
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.trainer h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0;
}

.trainer h4 {
    font-size: 14px;
    font-weight: 400;
    color: #1c1c1c;
    margin: 5px 0;
}

.trainer p {
    font-size: 14px;
    color: #666;
    margin: 10px 0;
}

@media (max-width: 768px) {
    .trainers {
        flex-direction: column;
        align-items: center;
    }
    .trainer {
        max-width: 80%;
    }
}